header {
    padding: 20px 0;
    background: #37474f;
}
header mat-icon {
    color: #fff;
    font-size: 40px;
    display: inline-table;
}
header mat-icon.acc-icon {
    color: #37474f;
}
.align-right {
    text-align: right;
}
.name {
    font-family: sans-serif;
    font-weight: bold;
    color: #37474f;
}